body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    
}
.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #EC407A;
    color: white;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
    text-decoration: double;
    float: left

}